<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="image/png" href="../static/logo.png"/>
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<title>NBA Analytics</title>
</head>


<body>
    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow">
            <a class="navbar-brand" href="index.html">
                <img src="../static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                NBA Analytics
            </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link disabled" href="index.html">Home</a>
                    <a class="nav-item nav-link disabled" href="data.html">Data</a>
                    <a class="nav-item nav-link disabled" href="visualizations.html">Visualizations</a>
                    <a class="nav-item nav-link active" href="about.html">About</a><span class="sr-only">(current)</span>
                  </div>
                </div>
              </nav>
              

      <!-- Cards -->
      <br><br><br><br>


           <!-- Profile 1 -->
        <div class="container-fluid">

       
                <div class="row mb-5">
                      <a href="http://www.github.com/aabdelmalek" class="profile-link" target="_blank" rel="noopener noreferrer">
                        <div class="col">
                          
                            <div class="container profile-card shadow card-link" id="bold-text">
                                  <div class="row">
                                                <div class="col-2 mb-2">
                                                            <div class="profile-card">
                                                                <img class="img-fluid img-height shadow" src="../static/0.jpg">
                                                            </div>
                                                </div>

                                                <div class="col-10">

                                                    <div class="header-text">Ali Abdelmalek
                                                      
                                                    </div>

                                                      <p class="profile-text text-muted">Lorem ipsum dolor sit amet, quidam suscipiantur intellegebat at eos,
                                                        iriure aliquam scribentur mel id. Eam ne quod suas omittantur. Sed eu veritus legendos senserit,
                                                          ei utroque debitis perfecto eam, qui quod tractatos cu. Movet mediocrem mnesarchum id mel, 
                                                          ad sumo propriae tacimates his, perpetua euripidis voluptatum usu ad. Cu sit clita meliore persequeris.
                                                          Lorem ipsum dolor sit amet, quidam suscipiantur intellegebat at eos,
                                                          iriure aliquam scribentur mel id. Eam ne quod suas omittantur. Sed eu veritus legendos senserit,
                                                            ei utroque debitis perfecto eam, qui quod tractatos cu.
                                            
                                                      </p>
                                                </div>
                                  </div>
                            </div>

                        
                      </a>
                </div>

                                    
        </div>

       <!-- Profile 2 -->
        <div class="container-fluid">

           
                  <div class="row mb-5">
                        <a href="http://www.github.com/hudaman10" class="profile-link" target="_blank" rel="noopener noreferrer">
                          <div class="col">
                            
                              <div class="container profile-card shadow card-link">
                                <div class="row">
                                              <div class="col-2 mb-2">
                                                          <div class="profile-card">
                                                              <img class="img-fluid img-height shadow" src="../static/1.jpg">
                                                          </div>
                                              </div>
  
                                              <div class="col-10">
  
                                                  <div class="header-text">Shakeel Huda</div>
  
                                                    <p class="profile-text text-muted">Lorem ipsum dolor sit amet, quidam suscipiantur intellegebat at eos,
                                                      iriure aliquam scribentur mel id. Eam ne quod suas omittantur. Sed eu veritus legendos senserit,
                                                        ei utroque debitis perfecto eam, qui quod tractatos cu. Movet mediocrem mnesarchum id mel, 
                                                        ad sumo propriae tacimates his, perpetua euripidis voluptatum usu ad. Cu sit clita meliore persequeris.
                                                        Lorem ipsum dolor sit amet, quidam suscipiantur intellegebat at eos,
                                                        iriure aliquam scribentur mel id. Eam ne quod suas omittantur. Sed eu veritus legendos senserit,
                                                          ei utroque debitis perfecto eam, qui quod tractatos cu.
                                          
                                                    </p>
                                              </div>
                                </div>
                          </div>
  
                          
                        </a>
                  </div>
  
                                      
          </div>


<!-- Profile 3 -->
<div class="container-fluid">

           
    <div class="row mb-5">
          <a href="http://www.github.com/gmurphy794" class="profile-link" target="_blank" rel="noopener noreferrer">
            <div class="col">
              
                <div class="container profile-card shadow card-link">
                  <div class="row">
                                <div class="col-2 mb-2">
                                            <div class="profile-card">
                                                <img class="img-height img-fluid shadow" src="../static/2.jpg">
                                            </div>
                                </div>

                                <div class="col-10">

                                    <div class="header-text">Graham Murphy</div>

                                      <p class="profile-text text-muted">Lorem ipsum dolor sit amet, quidam suscipiantur intellegebat at eos,
                                        iriure aliquam scribentur mel id. Eam ne quod suas omittantur. Sed eu veritus legendos senserit,
                                          ei utroque debitis perfecto eam, qui quod tractatos cu. Movet mediocrem mnesarchum id mel, 
                                          ad sumo propriae tacimates his, perpetua euripidis voluptatum usu ad. Cu sit clita meliore persequeris.
                                          Lorem ipsum dolor sit amet, quidam suscipiantur intellegebat at eos,
                                          iriure aliquam scribentur mel id. Eam ne quod suas omittantur. Sed eu veritus legendos senserit,
                                            ei utroque debitis perfecto eam, qui quod tractatos cu.
                            
                                      </p>
                                </div>
                  </div>
            </div>

            
          </a>
    </div>

                        
</div>

<br><br><br>
</body>

<script src="../static/app.js"></script>
</html>
